.navbar-brand {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4aaaa5;
  color: #ffffff !important;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  border-top: 5px solid #4aaaa5;
  background-color: #666666;
}

.footer p {
  color: #6b7278;
}

.active {
  color: black !important;
}
